.quizCopyIndicator {
    width: 250px;
    z-index: 7;
    height: 60px;
    position: fixed;
    bottom: 10px;
    right: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 5px 10px 25px #888888;
    background: linear-gradient(45deg, rgba(0, 202, 222, 1) 0%, rgba(0, 175, 61, 1) 100%);
    user-select: none;
    color: white;

    animation:fadeOut 0.5s 1;
    -webkit-animation:fadeOut 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:5s;
    -webkit-animation-delay:5s; 
    -webkit-animation-fill-mode: forwards;

}
.disabledQuizCopyHighlight {
    box-shadow: none !important;
    cursor: initial !important;
} 
.coderunnerexamples:hover, table.coderunner-test-results:hover, pre:not(.tablecell):hover {
    box-shadow: rgb(136 136 136) 10px 10px 10px;
    cursor: pointer;
}
@keyframes fadeOut{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes fadeOut{
    from {opacity :1;}
    to {opacity :0;}
}