body {
    background-color: rgb(30,30,30);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.logo {
    width: 150px;
    margin: auto;
}
.header {
    margin: auto;
    width: min-content;
}
.websiteTitle {
    text-align: center;
    margin: auto;
    
}
.align-center {
    text-align: center;
}
.sourceCode {
    color: white;
    display: block;
    text-align: center;
    text-underline-offset: 5px;
    font-weight: bold;
    transition: text-underline-offset 0.1s;
}
.sourceCode:hover {
    text-underline-offset: 10px;
}
.linkContainer {
    display: flex;
    width: 80%;
    max-width: 700px;
    margin: 40px auto;
    justify-content: space-around;
}
@media screen and (max-width: 935px) {
    .linkContainer {
        display: block;
        margin: auto;
        width: 100%;
    }
    .extensionLink {
        margin: 20px auto;
    }
}
.extensionLink {
    background: rgb(124,86,255);
    background: linear-gradient(315deg, rgba(124,86,255,1) 0%, rgba(255,3,0,1) 100%);
    width: 300px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.1s, transform 0.1s;
    
}

.extensionLink:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px rgb(78, 0, 66)
}

.extensionLinkInner {
    width: 290px;
    height: 240px;
    background-color: rgb(50,50,50);
    border-radius: 10px;
    margin: auto;
    
    
}

.browserImg {
    width: 150px;
    margin: auto;
    display: block;
    margin-top: 15px;
}

.extensionTitle {
    text-align: center;
    font-size: 20px;

}

.extensionHyperlink {
    color: white;
    text-decoration: none;
}